.navbar {
	background-color: rgb(40, 40, 40);
	text-align: left;
	position: sticky;
	top: 0;
}

.navbar-button {
	background-color: rgba(0,0,0,0);
	border: none;
	margin: 10px;
}

.navbar-link * {
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding: 30px 50px 30px 20px;
}
.navbar-link:hover {
	background-color: rgb(160,160,160);
}