* {
	color: #f2f2f2;
}
body {
	background-color: black;
}
.root-wrapper {
	width: 100%;
	height: 100%;
}
.grid-container {
	display: grid;
	grid-template-columns: 1fr 30fr;
	grid-auto-rows: 1fr;
}
.root-ribbon {
	background-color: #0c2fa3;
	height: 20px;
}