/** NavBar Styles **/
.navbar {
	text-align: left;
	padding: 10px;
	background-color: black;
	color: cyan;
}




/** Footer Styles **/
.footer {
	text-align: center;
	width: 100%;
	padding: 30px;
	color: yellowgreen;
}




/** General App Styles **/
.root-wrapper {
	width: 100%;
}
.grid-container {
	display: grid;
	grid-template-columns: 1fr 9fr;
	grid-gap: 2%;
}