.navbar {
	background-color: rgb(50, 50, 50);
	text-align: left;
}

.navbar-button {
	background-color: rgba(0,0,0,0);
	color: whitesmoke;
	border: none;
	margin: 10px;
}

.navbar-link * {
	color: whitesmoke;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding: 30px 50px 30px 20px;
}
.navbar-link:hover {
	background-color: rgb(160,160,160);
	color: white;
}